.img-text--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $light-gray;
  margin-bottom: rem-calc(30);

  @include breakpoint(small) {
    flex-direction: column;
  }
  @include breakpoint(medium) {
    flex-direction: row;
  }
}


.img-container--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  flex: 1 1 auto;
  flex-wrap: wrap;
  background-color: $primary-color-light;
  color: $white;

  @include breakpoint(small) {
    padding: rem-calc(15 30);
    align-items: flex-start;
  }
  @include breakpoint(medium) {
    padding: rem-calc(30 60);
  }
  @include breakpoint(large) {
    padding: rem-calc(30 60);
    align-items: flex-end;
  }

}

.img-container--header {
  font-weight: 700;
  line-height: 2.5rem;
  text-align: right;
  @include breakpoint(small) {
    font-size: 1.5rem;
    text-align: left;
  }
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(large) {
    text-align: right;
  }
}

.img-container--subheader {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: rem-calc(15);
}

.img-container--info {
  font-weight: 400;
  color: rgba(255,255,255,0.95);
  @include breakpoint(small) {
    font-size: 1.15rem;
    text-align: left;
  }
  @include breakpoint(medium) {
    font-size: 1.25rem;

  }
  @include breakpoint(large) {
    font-size: 1.35rem;
    text-align: right;
  }
}



.img-text--list-right {
  flex: 1 1 auto;
  padding: rem-calc(30);
  border: 1px solid $light-gray;
}

.img-text--item-header {
  font-size: 1.35rem;
  font-weight: 700;
  color: $primary-color-dark;
  margin-bottom: rem-calc(5);
}