@import "theme";

.form-wrapper {
  padding: rem-calc(30);
}

.form-container {
  max-width: $global-width;
  border: 1px solid blue;
  margin: 0 auto;
  padding: rem-calc(30);
}

.no-padding-sides {
  padding-left: 0;
  padding-right: 0;
}

