.header-wrapper {

  @include breakpoint(small) {
    padding: rem-calc(10);
  }
  @include breakpoint(medium) {
    padding: rem-calc(15 30);
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo-section {
    flex: 1 1 auto;
  }

  .logo {
    height: auto;
    @include breakpoint(small) {
      width: 220px;
    }
    @include breakpoint(medium) {
      width: 300px;
    }
  }

  .cta-tollfree-section {
    display: flex;
    font-weight: 700;
    text-align: right;

    @include breakpoint(small) {
      font-size: 1.95rem;
      margin-top: 0;
    }
    @include breakpoint(medium) {
      font-size: 2rem;
      margin-top: 5px;
    }
  }
}
