.header-wrapper {
  padding: rem-calc(15 30);

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo-section {
    flex: 1 1 auto;
  }

  .logo {
    width: 300px;
    height: auto;
  }

  .cta-tollfree-section {
    display: flex;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
    margin-top: 5px;
  }
}
