@import "theme";

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $white;
  background: url(../../assets/img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: rem-calc(15 30);
  @include breakpoint(small) {
    min-height: 35vh;
  }
  @include breakpoint(medium) {
    min-height: 40vh;
  }
  @include breakpoint(large) {
    min-height: 60vh;
  }

  .hero-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: rem-calc(-20);
    @include breakpoint(small) {
      max-width: 98vw;
    }
    @include breakpoint(medium) {
      max-width: 90vw;
    }
    @include breakpoint(large) {
      max-width: 60vw;
    }
  }

  .hero-header {
    text-align: center;
    @include breakpoint(small) {
      font-size: 2.35rem;
    }
    @include breakpoint(medium) {
      font-size: 2.75rem;
    }
    @include breakpoint(large) {
      font-size: 4.15rem;
    }
  }

  .hero-subheader {
    color: rgba(255,255,255,0.7);
    text-align: center;
    @include breakpoint(small) {
      margin-bottom: rem-calc(30);
      font-size: 1.15rem;
      line-height: 1.75rem;
    }
    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
      font-size: 1.35rem;
      line-height: 2.15rem;
    }
    @include breakpoint(large) {
      margin-bottom: rem-calc(45);
    }
  }

  .hero-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .button-theme {
    flex: 1 1 auto;
    justify-content: center;
    font-size: 1.25rem;
    padding: rem-calc(15 30);
    margin: 0 auto;
    @include breakpoint(small) {
      max-width: 350px;
      margin-bottom: rem-calc(15);
    }
    @include breakpoint(medium) {
      max-width: 380px;
      margin-bottom: rem-calc(0);
    }
  }

  .button-primary {
    background-color: $primary-color;
  }

  .button-secondary {
    background-color: $secondary-color;
  }

}

//.hero-container {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  min-height: 70vh;
//  background-color: $primary-color;
//  color: $white;
//  background: url(../../assets/img/hero.jpg) no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//
//  .hero-main-content {
//    margin: 0 auto;
//    padding: rem-calc(15);
//    @include breakpoint(small) {
//      max-width:100vw;
//    }
//    @include breakpoint(medium) {
//      max-width: 85vw;
//    }
//    @include breakpoint(large) {
//      max-width: 70vw;
//    }
//  }
//
//  .hero-header {
//    text-align: center;
//    @include breakpoint(small) {
//      font-size: 2.35rem;
//    }
//    @include breakpoint(medium) {
//      font-size: 2.75rem;
//    }
//    @include breakpoint(large) {
//      font-size: 3.5rem;
//    }
//  }
//
//  .hero-subheader {
//    font-size: 1.25rem;
//    color: rgba(255,255,255,0.7);
//    text-align: center;
//
//    @include breakpoint(small) {
//      margin-bottom: rem-calc(10);
//    }
//    @include breakpoint(medium) {
//      margin-bottom: rem-calc(30);
//    }
//  }
//
//  .hero-buttons {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: center;
//    flex-wrap: wrap;
//  }
//
//  .button {
//    font-weight: 400;
//    border: 1px solid $white;
//    @include breakpoint(small) {
//      font-size: 1.25rem;
//      padding: rem-calc(15);
//      margin: rem-calc(5 0);
//    }
//    @include breakpoint(medium) {
//      font-size: 1.5rem;
//      padding: rem-calc(20 30);
//      margin: rem-calc(0 10);
//    }
//  }
//
//  .button-primary {
//    background-color: $primary-color-light;
//    border-color: $primary-color-dark;
//  }
//
//  .button-secondary {
//    background-color: $secondary-color-light;
//    border-color: $secondary-color;
//  }
//
//}




.hero-secondary {
  height: 20vh;
  background-color: $primary-color;
  color: $white;
  text-align: center;

  .hero-secondary-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
