@import "theme";

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $white;
  background: url(../../assets/img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: rem-calc(15 30);
  @include breakpoint(small) {
    min-height: 55vh;
  }
  @include breakpoint(medium) {
    min-height: 60vh;
  }
  @include breakpoint(large) {
    min-height: 60vh;
  }

  .hero-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //margin-top: rem-calc(-20);
    @include breakpoint(small) {
      max-width: 100vw;
    }
    @include breakpoint(medium) {
      max-width: 90vw;
    }
    @include breakpoint(large) {
      max-width: 65vw;
    }
  }

  .hero-header {
    text-align: center;
    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 3.25rem;
    }
    @include breakpoint(large) {
      font-size: 3.75rem;
    }
  }

  .hero-subheader {
    color: rgba(255,255,255,0.7);
    text-align: center;
    @include breakpoint(small) {
      margin-bottom: rem-calc(30);
      font-size: 1.15rem;
      line-height: 1.5rem;
    }
    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
      font-size: 1.35rem;
      line-height: 2.15rem;
    }
    @include breakpoint(large) {
      margin-bottom: rem-calc(45);
    }
  }

  .hero-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //margin: rem-calc(5);
  }

  .button-theme {
    flex: 1 1 auto;
    justify-content: center;
    font-size: 1.25rem;
    padding: rem-calc(15 30);
    margin: 0 auto;
    @include breakpoint(small) {
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: rem-calc(15);
    }
    @include breakpoint(medium) {
      max-width: 380px;
      margin: 0 auto;
      margin-bottom: rem-calc(15);
      //margin-right: rem-calc(15);
    }
    @include breakpoint(large) {
      max-width: 380px;
      margin-bottom: rem-calc(0);
      margin-right: rem-calc(15);
    }
  }

}




.hero-secondary {
  height: 20vh;
  background-color: $primary-color;
  color: $white;
  text-align: center;

  .hero-secondary-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
