<fieldset class="fieldset">
    <legend>Contact Details</legend>
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 cell margin-right-1">
            <label>First Name:
                <input type="text" placeholder="First Name">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Last Name:
                <input type="text" placeholder="Last Name">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Title (optional):
                <input type="text" placeholder="Title">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Company (optional):
                <input type="text" placeholder="Company">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Preferred Contact Time (optional):
                <input type="number" placeholder="Contact Time">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Zip:
                <input type="number" placeholder="Zip Code">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Phone Number:
                <input type="number" placeholder="Phone Number">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Email:
                <input type="email" placeholder="Email Address">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Please provide a brief description of what you need (optional):
                <textarea placeholder="Enter your description"></textarea>
            </label>
        </div>
        <fieldset class="small-12 medium-6 cell">
            <label>Preferred Contact Method:</label>
            <input type="radio" name="email" value="email" id="email" required><label for="email">Email</label>
            <input type="radio" name="phone" value="phone" id="phone"><label for="phone">Phone</label>
        </fieldset>
        <hr>
        <div class="small-12 cell end text-right">
            <input type="submit" name='submit' class="button button-success button-form-lg button-form-submit" value="Submit">
        </div>
    </div>
</fieldset>
