<fieldset class="fieldset">
    <legend>Contact Details</legend>
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 cell margin-right-1">
            <label>First Name:
                <input type="text" placeholder="First Name">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Last Name:
                <input type="text" placeholder="Last Name">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Title:
                <input type="text" placeholder="Title">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Company:
                <input type="text" placeholder="Company">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Address:
                <input type="text" placeholder="Address">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Zip:
                <input type="text" placeholder="Zip Code">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Phone Number:
                <input type="text" placeholder="Phone Number">
            </label>
        </div>
        <div class="small-12 medium-6 cell">
            <label>Email:
                <input type="text" placeholder="Email Address">
            </label>
        </div>
    </div>
</fieldset>
