<div class="form-wrapper">
    <div class="form-container">
        <h2 class="form-header">Form header goes here</h2>
        <p class="form-subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur,
            cum dignissimos eos esse expedita fuga inventore magnam mollitia nam odit quae qui quod ratione rem sed tempore
            ut!</p>
        <form>
            <div class="grid-container no-padding-sides">
                <div class="grid-x grid-padding-x">
                    <div class="small-12 medium-6 cell">
                        <label>Input Label
                            <input type="text" placeholder=".medium-6.cell">
                        </label>
                    </div>
                    <div class="small-12 medium-6 cell medium-6 cell">
                        <label>Input Label
                            <input type="text" placeholder=".medium-6.cell">
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
