<div class="form-wrapper">
    <div class="form-container">
        <h2 class="form-header">Hire Technician or Engineer</h2>
        <p class="form-subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur, cum dignissimos eos esse expedita fuga inventore magnam mollitia nam odit quae qui quod ratione rem sed tempore ut!</p>
        <form>
            <fieldset class="fieldset">
                <legend>I am looking to hire a technician:</legend>
                <button class="button button-primary">I have a new project</button>
                <button class="button button-primary">I have an existing project</button>
            </fieldset>
            <fieldset class="fieldset">
                <legend>I need a Certified Professional Engineer:</legend>
                <input id="yes" type="checkbox"><label for="yes">Yes</label>
                <input id="no" type="checkbox"><label for="no">No</label>
                <input id="not_sure" type="checkbox"><label for="not_sure">I'm not sure</label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>I need a Model Design or Created:</legend>
                <input id="yes" type="checkbox"><label for="yes">Yes</label>
                <input id="no" type="checkbox"><label for="no">No</label>
                <input id="not_sure" type="checkbox"><label for="not_sure">I'm not sure</label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Please provide a brief description of what you need (optional):</legend>
                <label>
                    Description
                    <textarea placeholder="None"></textarea>
                </label>
            </fieldset>
            {{> contact-info-fieldset}}
        </form>
    </div>
</div>
