<div class="form-wrapper">
    <div class="form-container">
        <h2 class="form-header">Im looking to purchase engineering software, hardware, or cloud services</h2>
        <p class="form-subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur, cum dignissimos eos esse expedita fuga inventore magnam mollitia nam odit quae qui quod ratione rem sed tempore
            ut!</p>
        <form>
            <fieldset class="fieldset">
                <legend>Check these out</legend>
                <input id="checkbox12" type="checkbox"><label for="checkbox12">Checkbox 1</label>
                <input id="checkbox22" type="checkbox"><label for="checkbox22">Checkbox 2</label>
                <input id="checkbox32" type="checkbox"><label for="checkbox32">Checkbox 3</label>
            </fieldset>
        </form>
    </div>
</div>
