<div class="form-wrapper">
    <div class="form-container">
        <h2 class="form-header">Pick the software you would like to use.</h2>
        <p class="form-subheader">Please complete this short form to give us a better understanding of your needs. After submitting your contact information, one of our engineering specialists will reach out through your preffered method of contact.</p>
        <form method="post" name="myemailform" action="form-to-email.php">
            <fieldset class="fieldset">
                <legend>Available Software Types:</legend>
                <input id="solidworks" type="radio"><label class="label-large" for="solidworks">SolidWorks</label>
                <input id="autodesk" type="radio"><label class="label-large" for="autodesk">AutoDesk</label>
                <input id="simsolid" type="radio"><label class="label-large" for="simsolid">SimSolid</label>
                <input id="mastercam" type="radio"><label class="label-large" for="mastercam">MasterCam</label>
                <input id="cloud-services" type="radio"><label class="label-large" for="cloud-services">Cloud Services</label>
                <input id="engineering-computuers" type="radio"><label class="label-large" for="engineering-computuers">Engineering Computers</label>
                <input id="other" type="radio"><label class="label-large" for="other">Other</label>
            </fieldset>
            <fieldset class="fieldset text-center">
                <legend>I need this for:</legend>
                <button class="button button-primary button-form-lg">Personal Use</button>
                <button class="button button-secondary button-form-lg">Professional Use</button>
            </fieldset>
            {{> contact-info-fieldset}}
            <!--<input type="submit" name='submit' class="button button-primary button-form-lg" value="submit">-->
        </form>
    </div>
</div>