<div class="hero-container text-center">
    <div class="hero-main-content">
        <h1 class="hero-header">What is our Mission?</h1>
        <p class="hero-subheader">Our primary goal is to match your engineering project, idea or need with an expert, or team of experts in your local area to complete your project in the most efficient way possible.</p>
    </div>
    <div class="hero-buttons">
        <a href="form-software.html" class="button button-primary button-theme">Purchase Engineering Services</a>
        <a href="form-engineer.html" class="button button-secondary button-theme">Hire Engineer or Technician</a>
    </div>
</div>
